orchestrator Load WWI to DW.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "batchloaddatetime",
          "value": {
            "value": "@utcnow()",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "set batch load datetime",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT *\nFROM [dw_world_wide_importers].[metadata].[MirroredWWItoDW]\nWHERE skipload = 0",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "3304be96-1d91-45e8-abb7-09bd38609e21",
                  "endpoint": "x6eps4xrq2xudenlfv6naeo3i4-7674mglzen3ebawzmfdtdextfy.msit-datawarehouse.fabric.microsoft.com",
                  "workspaceId": "19c6bfff-2379-4076-82d9-61473192f32e"
                },
                "annotations": []
              },
              "name": "dw_world_wide_importers"
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "get table load attributes from metadata table",
        "dependsOn": [
          {
            "activity": "set batch load datetime",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('get table load attributes from metadata table').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "item": {
                    "value": "@item()",
                    "type": "Expression"
                  },
                  "batchloaddatetime": {
                    "value": "@variables('batchloaddatetime')",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": "19c6bfff-2379-4076-82d9-61473192f32e",
                "pipelineId": "3aecdcab-f314-4093-af3a-381bb63aba09",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "02d5224f-e426-4049-a843-68dfec9d2208"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "load dw table",
              "dependsOn": []
            }
          ]
        },
        "name": "for each DW table to load",
        "dependsOn": [
          {
            "activity": "get table load attributes from metadata table",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "variables": {
      "batchloaddatetime": {
        "type": "String"
      }
    }
  }
}