ValidateandLoadFiletoDelta.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "ef1aa9b5-6e65-40b8-8302-a10ba4d99019",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "lakehousepath": {
              "value": {
                "value": "@pipeline().parameters.lakehousepath",
                "type": "Expression"
              },
              "type": "string"
            },
            "filename": {
              "value": {
                "value": "@pipeline().parameters.filename",
                "type": "Expression"
              },
              "type": "string"
            },
            "metadatafilename": {
              "value": {
                "value": "@pipeline().parameters.metadatafilename",
                "type": "Expression"
              },
              "type": "string"
            },
            "filefolder": {
              "value": {
                "value": "@pipeline().parameters.landingzonefilefolder",
                "type": "Expression"
              },
              "type": "string"
            },
            "metadatafolder": {
              "value": {
                "value": "@pipeline().parameters.metadatafolder",
                "type": "Expression"
              },
              "type": "string"
            },
            "outputfilename": {
              "value": {
                "value": "@variables('parquetfilename')",
                "type": "Expression"
              },
              "type": "string"
            },
            "fileformat": {
              "value": {
                "value": "@pipeline().parameters.fileformat",
                "type": "Expression"
              },
              "type": "string"
            },
            "outputfolder": {
              "value": {
                "value": "@pipeline().parameters.bronzefolder",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Validate CSV and load file to parquet",
        "dependsOn": [
          {
            "activity": "Set parquet file name",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "parquetfilename",
          "value": {
            "value": "@replace(pipeline().parameters.filename,'.csv','')",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Set parquet file name",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@startswith(activity('Validate CSV and load file to parquet').Output.result.exitValue,'Data written to parquet successfully.')",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "0c866dfa-a302-434b-932c-179f52cfe4c9",
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "parameters": {
                  "lakehousepath": {
                    "value": {
                      "value": "@pipeline().parameters.lakehousepath",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "inputfolder": {
                    "value": {
                      "value": "@pipeline().parameters.bronzefolder",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "filename": {
                    "value": {
                      "value": "@variables('parquetfilename')",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "tablename": {
                    "value": {
                      "value": "@pipeline().parameters.fileformat",
                      "type": "Expression"
                    },
                    "type": "string"
                  },
                  "keyfields": {
                    "value": {
                      "value": "@trim(replace(activity('Validate CSV and load file to parquet').Output.result.exitValue,'Data written to parquet successfully. Key fields are:',''))",
                      "type": "Expression"
                    },
                    "type": "string"
                  }
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Create or Merge to Table",
              "dependsOn": []
            }
          ],
          "ifFalseActivities": [
            {
              "type": "Office365Outlook",
              "typeProperties": {
                "inputs": {
                  "body": {
                    "To": "jehayes@microsoft.com",
                    "Subject": "Error with @{pipeline().parameters.fileformat} file - @{activity('Validate CSV and load file to parquet').output.result.exitValue}",
                    "Body": "<p>An error occurred at @{pipeline().TriggerTime}, pipeline run id: @{pipeline().RunId}.</p>\n<p>File name is: @{pipeline().parameters.filename}</p>\n<p>@{activity('Validate CSV and load file to parquet').output.result.exitValue}</p>",
                    "Sensitivity": "",
                    "Importance": "High"
                  },
                  "method": "post",
                  "path": "/v2/Mail"
                }
              },
              "name": "Notify file error",
              "dependsOn": []
            }
          ]
        },
        "name": "If File Validated",
        "dependsOn": [
          {
            "activity": "Validate CSV and load file to parquet",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "BinarySource",
            "storeSettings": {
              "type": "LakehouseReadSettings",
              "recursive": true,
              "deleteFilesAfterCompletion": true
            },
            "formatSettings": {
              "type": "BinaryReadSettings"
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@pipeline().parameters.landingzonefilefolder",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@pipeline().parameters.filename",
                    "type": "Expression"
                  }
                }
              },
              "linkedService": {
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "d3c9c8a4-21c6-47b6-abac-ed23d080a18d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                },
                "name": "analyticsinabox1"
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "BinarySink",
            "storeSettings": {
              "type": "LakehouseWriteSettings"
            },
            "datasetSettings": {
              "type": "Binary",
              "typeProperties": {
                "location": {
                  "type": "LakehouseLocation",
                  "folderPath": {
                    "value": "@concat('processed/',replace(replace(toLower(activity('Validate CSV and load file to parquet').Output.result.exitValue),' ','_'),':',''))",
                    "type": "Expression"
                  },
                  "fileName": {
                    "value": "@pipeline().parameters.filename",
                    "type": "Expression"
                  }
                }
              },
              "linkedService": {
                "properties": {
                  "type": "Lakehouse",
                  "typeProperties": {
                    "artifactId": "d3c9c8a4-21c6-47b6-abac-ed23d080a18d",
                    "workspaceId": "00000000-0000-0000-0000-000000000000",
                    "rootFolder": "Files"
                  },
                  "annotations": []
                },
                "name": "analyticsinabox1"
              },
              "annotations": []
            }
          },
          "enableStaging": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Move File to processed folder",
        "dependsOn": [
          {
            "activity": "Validate CSV and load file to parquet",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "lakehousepath": {
        "type": "string",
        "defaultValue": "abfss://19c6bfff-2379-4076-82d9-61473192f32e@msit-onelake.dfs.fabric.microsoft.com/f98b83cd-7a4e-4be0-bd36-723764c3615a"
      },
      "bronzefolder": {
        "type": "string",
        "defaultValue": "scenario1-validatecsv/bronze"
      },
      "filename": {
        "type": "string",
        "defaultValue": "customer1.csv"
      },
      "metadatafilename": {
        "type": "string",
        "defaultValue": "customer_meta.csv"
      },
      "fileformat": {
        "type": "string",
        "defaultValue": "customer"
      },
      "landingzonefilefolder": {
        "type": "string",
        "defaultValue": "scenario1-validatecsv/landingzone/files"
      },
      "metadatafolder": {
        "type": "string",
        "defaultValue": "scenario1-validatecsv/landingzone/metadata"
      }
    },
    "variables": {
      "parquetfilename": {
        "type": "String"
      }
    }
  }
}