OrchestratorCSVtoDelta.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "GetMetadata",
        "typeProperties": {
          "datasetSettings": {
            "type": "Binary",
            "typeProperties": {
              "location": {
                "type": "LakehouseLocation",
                "folderPath": {
                  "value": "@pipeline().parameters.landingzonefilefolder",
                  "type": "Expression"
                }
              }
            },
            "linkedService": {
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "d3c9c8a4-21c6-47b6-abac-ed23d080a18d",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Files"
                },
                "annotations": []
              },
              "name": "analyticsinabox1"
            },
            "annotations": []
          },
          "fieldList": [
            "childItems"
          ],
          "storeSettings": {
            "type": "LakehouseReadSettings",
            "recursive": true,
            "enablePartitionDiscovery": false
          },
          "formatSettings": {
            "type": "BinaryReadSettings"
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Get Files to Process",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "items": {
            "value": "@activity('Get Files to Process').output.childItems",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "ExecutePipeline",
              "typeProperties": {
                "pipeline": {
                  "referenceName": "15ec0958-2a0f-47dc-b1da-c67c8efee593",
                  "type": "PipelineReference"
                },
                "parameters": {
                  "lakehousepath": {
                    "value": "@pipeline().parameters.lakehousepath",
                    "type": "Expression"
                  },
                  "bronzefolder": {
                    "value": "@pipeline().parameters.bronzefolder",
                    "type": "Expression"
                  },
                  "filename": {
                    "value": "@item().name",
                    "type": "Expression"
                  },
                  "metadatafilename": {
                    "value": "@{pipeline().parameters.fileformat}_meta.csv",
                    "type": "Expression"
                  },
                  "fileformat": {
                    "value": "@pipeline().parameters.fileformat",
                    "type": "Expression"
                  },
                  "landingzonefilefolder": {
                    "value": "@pipeline().parameters.landingzonefilefolder",
                    "type": "Expression"
                  },
                  "metadatafolder": {
                    "value": "@pipeline().parameters.landingzonemetadatafolder",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true
              },
              "policy": {
                "secureInput": false
              },
              "name": "Pipeline-Validate and Load to Delta",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach File to Process",
        "dependsOn": [
          {
            "activity": "Get Files to Process",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "landingzonefilefolder": {
        "type": "string",
        "defaultValue": "scenario1-validatecsv/landingzone/files"
      },
      "landingzonemetadatafolder": {
        "type": "string",
        "defaultValue": "scenario1-validatecsv/landingzone/metadata"
      },
      "lakehousepath": {
        "type": "string",
        "defaultValue": "abfss://19c6bfff-2379-4076-82d9-61473192f32e@msit-onelake.dfs.fabric.microsoft.com/f98b83cd-7a4e-4be0-bd36-723764c3615a"
      },
      "bronzefolder": {
        "type": "string",
        "defaultValue": "scenario1-validatecsv/bronze"
      },
      "fileformat": {
        "type": "string",
        "defaultValue": "customer"
      }
    },
    "variables": {
      "landingzoneabfss": {
        "type": "String"
      },
      "silverabfss": {
        "type": "String"
      },
      "bronzeabfss": {
        "type": "String"
      },
      "goldabfss": {
        "type": "String"
      }
    }
  }
}